<header id="home-section">
  <div class="dark-overlay">
    <div class="home-inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 d-none d-lg-block">
            <h1 class="display-4">Build
              <strong>social profiles</strong> and gain revenue and
              <strong>profits</strong>
            </h1>
            <div class="d-flex flex-row">
              <div class="p-4 align-self-start">
                <i class="fa fa-check"></i>
              </div>
              <div class="p-4 align-self-end">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod corrupti ad doloribus maxime iure debitis temporibus tempore
                rerum, similique eius voluptatibus, voluptates omnis tenetur sint vel. Nesciunt praesentium veritatis expedita.
              </div>
            </div>
            <div class="d-flex flex-row">
              <div class="p-4 align-self-start">
                <i class="fa fa-check"></i>
              </div>
              <div class="p-4 align-self-end">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod corrupti ad doloribus maxime iure debitis temporibus tempore
                rerum, similique eius voluptatibus, voluptates omnis tenetur sint vel. Nesciunt praesentium veritatis expedita.
              </div>
            </div>
            <div class="d-flex flex-row">
              <div class="p-4 align-self-start">
                <i class="fa fa-check"></i>
              </div>
              <div class="p-4 align-self-end">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod corrupti ad doloribus maxime iure debitis temporibus tempore
                rerum, similique eius voluptatibus, voluptates omnis tenetur sint vel. Nesciunt praesentium veritatis expedita.
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card bg-primary text-center card-form">
              <div id="formHead">
                <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs row" role="tablist">
                    <li class="nav-item col-6 px-0">
                      <a href="#signup" class="nav-link active text-dark" role="tab" data-toggle="tab">
                        <h3>Sign up</h3>
                      </a>
                    </li>
                    <li class="nav-item col-6 px-0">
                      <a href="#login" class="nav-link text-dark" role="tab" data-toggle="tab">
                        <h3>Log in</h3>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane active" role="tabpanel" id="signup">
                    <p>Please fill out this form to register</p>
                    <form>
                      <div class="form-group">
                        <input type="text" class="form-control form-control-lg" placeholder="Username">
                      </div>
                      <div class="form-group">
                        <input type="email" class="form-control form-control-lg" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control form-control-lg" placeholder="password">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control form-control-lg" placeholder="Confirm Password">
                      </div>
                      <input type="submit" class="btn btn-outline-light btn-block">
                    </form>
                  </div>
                  <div class="tab-pane" role="tabpanel" id="login">
                    <p>Log in your credentials</p>
                    <form>
                      <div class="form-group">
                        <input type="text" class="form-control form-control-lg" placeholder="Username">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control form-control-lg" placeholder="password">
                      </div>
                      <input type="submit" class="btn btn-outline-light btn-block">
                      <div class="pt-3">
                        <a href="" class="text-light m-5">Forget Account?</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="explore-head-section">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="py-5">
          <h1 class="display-4">Explore</h1>
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab reprehenderit iste nemo hic? Facere, quis id. Hic consectetur
            totam dolore explicabo velit praesentium ex voluptatibus</p>
          <a href="#" class="btn btn-outline-secondary">Find Out More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="explore-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../assets/img/explore-section1.png" alt="" class="img-fluid mb-3 rounded-circle">
      </div>
      <div class="col-md-6">
        <h3>Explore & Connect</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit quos esse provident sequi hic! Voluptatum
          delectus tempora est. Impedit libero nisi ullam laudantium, officia incidunt.</p>
        <div class="d-flex flex-row">
          <div class="p-4 align-self-start">
            <i class="fa fa-check"></i>
          </div>
          <div class="p-4 align-self-end">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod corrupti ad doloribus maxime iure debitis temporibus tempore
            rerum, similique eius voluptatibus, voluptates omnis tenetur sint vel. Nesciunt praesentium veritatis expedita.
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="p-4 align-self-start">
            <i class="fa fa-check"></i>
          </div>
          <div class="p-4 align-self-end">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod corrupti ad doloribus maxime iure debitis temporibus tempore
            rerum, similique eius voluptatibus, voluptates omnis tenetur sint vel. Nesciunt praesentium veritatis expedita.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="create-head-section" class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="py-5">
          <h1 class="display-4">Create</h1>
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab reprehenderit iste nemo hic? Facere, quis id. Hic consectetur
            totam dolore explicabo velit praesentium ex voluptatibus</p>
          <a href="#" class="btn btn-outline-light">Find Out More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="create-section" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Create your passion</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit quos esse provident sequi hic! Voluptatum
          delectus tempora est. Impedit libero nisi ullam laudantium, officia incidunt.</p>
        <div class="d-flex flex-row">
          <div class="p-4 align-self-start">
            <i class="fa fa-check"></i>
          </div>
          <div class="p-4 align-self-end">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod corrupti ad doloribus maxime iure debitis temporibus tempore
            rerum, similique eius voluptatibus, voluptates omnis tenetur sint vel. Nesciunt praesentium veritatis expedita.
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="p-4 align-self-start">
            <i class="fa fa-check"></i>
          </div>
          <div class="p-4 align-self-end">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod corrupti ad doloribus maxime iure debitis temporibus tempore
            rerum, similique eius voluptatibus, voluptates omnis tenetur sint vel. Nesciunt praesentium veritatis expedita.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="../assets/img/create-section1.png" alt="" class="img-fluid mb-3 rounded-circle">
      </div>
    </div>
  </div>
</section>

<section id="share-head-section" class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="py-5">
          <h1 class="display-4">Share</h1>
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab reprehenderit iste nemo hic? Facere, quis id. Hic consectetur
            totam dolore explicabo velit praesentium ex voluptatibus</p>
          <a href="#" class="btn btn-outline-light">Find Out More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="share-section" class="py-5 bg-light text-muted">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../assets/img/share-section1.png" alt="" class="img-fluid mb-3 rounded-circle">
      </div>
      <div class="col-md-6">
        <h3>Share what you create</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit quos esse provident sequi hic! Voluptatum
          delectus tempora est. Impedit libero nisi ullam laudantium, officia incidunt.</p>
        <div class="d-flex flex-row">
          <div class="p-4 align-self-start">
            <i class="fa fa-check"></i>
          </div>
          <div class="p-4 align-self-end">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod corrupti ad doloribus maxime iure debitis temporibus tempore
            rerum, similique eius voluptatibus, voluptates omnis tenetur sint vel. Nesciunt praesentium veritatis expedita.
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="p-4 align-self-start">
            <i class="fa fa-check"></i>
          </div>
          <div class="p-4 align-self-end">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod corrupti ad doloribus maxime iure debitis temporibus tempore
            rerum, similique eius voluptatibus, voluptates omnis tenetur sint vel. Nesciunt praesentium veritatis expedita.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-contact-modal></app-contact-modal>